#mbmybbserviceebul_table {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
}

#mbmybbserviceebul_table li a {
  line-height: 16px;
  font-size: 13px;
  font-family: "Lucida Sans",sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  padding: 10px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

#mbmybbserviceebul_table li div.buttonbg {
  height: 36px;
  width: 76px;
  line-height: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #707070;
  border-width: 1px;
  border-radius: 0;
  padding: 0;
  box-shadow: 0 0 6px -2px #C0C0C0 inset;
  text-align: center;
}

#mbmybbserviceebul_table li:hover div.buttonbg a, #mbmybbserviceebul_table li.expanded a.topitem, #mbmybbserviceebul_table li.active a.topitem,
#mbmybbserviceebul_table li.itemhot a.topitem, #mbmybbserviceebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}


#mbmybbserviceebul_table li.expanded div.buttonbg, #mbmybbserviceebul_table li.active div.buttonbg, #mbmybbserviceebul_table li.itemhot div.buttonbg, #mbmybbserviceebul_table li:hover div.buttonbg {
  background-color: #FFFFFF;
  box-shadow: 0 0 11px -5px #FFFFFF inset;
  border-color: #444444;
}

#mbmybbserviceebul_table {
  padding: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: none;
}

#mbmybbserviceebul_table li.first_button div.buttonbg {
  border-radius: 5px 0 0 5px;
}

#mbmybbserviceebul_table li.last_button div.buttonbg {
  border-radius: 0 5px 5px 0;
}

#mbmybbserviceebul_table ul li a {
  color: #666666;
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
}

#mbmybbserviceebul_table ul li:hover > a {
  color: #333333;
  font-family: Arial,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmybbserviceebul_table ul li.subexpanded a.subexpanded, #mbmybbserviceebul_table ul li.subitemhot a.subitemhot, #mbmybbserviceebul_table ul li a:hover {
  color: #333333;
  font-family: Arial,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmybbserviceebul_table ul li:hover, #mbmybbserviceebul_table ul li.subexpanded, #mbmybbserviceebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: #FFFFFF;
  box-shadow: none;
}

#mbmybbserviceebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #D6D7D7;
  border-width: 0;
  padding: 0;
  background: #FFFFFF;
  font-size: 0;
  border-radius: 0;
}

#mbmybbserviceebul_table ul li a {
  padding: 7px 15px 7px 13px;
  text-align: left;
}

#mbmybbserviceebul_table ul li.separator {
  padding: 7px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmybbserviceebul_table ul li.separator div {
  border-top: 1px solid #C0C0C0;
  font-size: 0px;
}

#mbmybbserviceebul_table ul li {
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}


#mbmybbserviceebul_table ul {
  box-shadow: 1px 1px 5px -1px #333333;
}

#mbmybbserviceebul_table .spaced_li {
  margin: 0px 0px 0px 0px;
}

#mbmybbserviceebul_table a img {
  border: none;
}

#mbmybbserviceebul_table li {
  list-style: none;
  float: left;
}

#mbmybbserviceebul_table.css_menu li {
  position: relative;
}

#mbmybbserviceebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmybbserviceebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmybbserviceebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmybbserviceebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmybbserviceebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmybbserviceebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmybbserviceebul_table .submenu_arrow {
  margin-left: 8px;
}

#mbmybbserviceebul_table a.with_img_4 span.img_4x5, .mbmybbserviceebul_menulist span.img_4x5 { 
  width: 4px; 
  height: 5px; 
  display: inline-block; 
  vertical-align: middle; 
}

#mbmybbserviceebul_table li:hover > a span.img_4x5, #mbmybbserviceebul_table li.subexpanded > a span.img_4x5 { 
  background-position: 0 -5px; 
} 

#mbmybbserviceebul_table div.arrow { 
  background-image: url(ebab_mbmybbservice_d.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mbmybbserviceebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbmybbservice_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 19px; 
} 

#mbmybbserviceebul_table ul li a.with_arrow:hover, #mbmybbserviceebul_table ul li:hover > a.with_arrow, #mbmybbserviceebul_table ul li.subexpanded > a.with_arrow { 
  background-image: url(ebab_mbmybbservice_c2.png); 
} 

#mbmybbserviceebul_table div.gradient38 { 
  background-image: url('button_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #757575; 
} 

#mbmybbserviceebul_table li:hover div.gradient38, #mbmybbserviceebul_table li.expanded div.gradient38, #mbmybbserviceebul_table li.active div.gradient38, #mbmybbserviceebul_table li.itemhot div.gradient38 { 
  background-image: url('buttonhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #333333; 
} 

#mbmybbserviceebul_table div.gradient_button { 
  background: -moz-linear-gradient(top, #8B8B8B 0%, #787878 48%, #5D5D5D 50%, #757575 100%); 
  background: -webkit-linear-gradient(top, #8B8B8B 0%, #787878 48%, #5D5D5D 50%, #757575 100%); 
  background: -ms-linear-gradient(top, #8B8B8B 0%, #787878 48%, #5D5D5D 50%, #757575 100%); 
  background: linear-gradient(top, #8B8B8B 0%, #787878 48%, #5D5D5D 50%, #757575 100%); 
} 

#mbmybbserviceebul_table li:hover div.gradient_button, #mbmybbserviceebul_table li.expanded div.gradient_button, #mbmybbserviceebul_table li.active div.gradient_button, #mbmybbserviceebul_table li.itemhot div.gradient_button { 
  background: -moz-linear-gradient(top, #505050 0%, #535353 48%, #2D2D2D 50%, #333333 100%); 
  background: -webkit-linear-gradient(top, #505050 0%, #535353 48%, #2D2D2D 50%, #333333 100%); 
  background: -ms-linear-gradient(top, #505050 0%, #535353 48%, #2D2D2D 50%, #333333 100%); 
  background: linear-gradient(top, #505050 0%, #535353 48%, #2D2D2D 50%, #333333 100%); 
} 

#mbmybbserviceebul_table ul.gradient120 { 
  background-image: url('menu_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #D7D7D7; 
} 

#mbmybbserviceebul_table ul.gradient60 { 
  background-image: url('menu_bg1.png'); 
  background-repeat: repeat-x; 
  background-color: #D7D7D7; 
} 

#mbmybbserviceebul_table ul.gradient_menu { 
  background: -moz-linear-gradient(top, #FBFBFB 0%, #D7D7D7 100%); 
  background: -webkit-linear-gradient(top, #FBFBFB 0%, #D7D7D7 100%); 
  background: -ms-linear-gradient(top, #FBFBFB 0%, #D7D7D7 100%); 
  background: linear-gradient(top, #FBFBFB 0%, #D7D7D7 100%); 
} 

#mbmybbserviceebul_table li a.button_2, #mbmybbserviceebul_table li div a.button_2 { 
  font-family: "Lucida Sans",sans-serif; 
  padding-right: 25px; 
} 

#mbmybbserviceebul_table li a.button_4, #mbmybbserviceebul_table li div a.button_4 { 
  font-family: "Lucida Sans",sans-serif; 
  font-size: 12px; 
  line-height: 15px; 
  padding-right: 25px; 
} 

#mbmybbserviceebul_table li a.button_5, #mbmybbserviceebul_table li div a.button_5 { 
  font-family: "Lucida Sans",sans-serif; 
  font-size: 12px; 
  line-height: 15px; 
} 

