body {
	background: transparent url(mybbs_20b/headerback.jpg) top left repeat-y;
	color: #000;
	font: 13px/1.4 Arial,tahoma,Sans-Serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

a:link,a:visited {
color:#696969;text-decoration:none
}

a:hover,a:active {
color:#696969;text-decoration:underline
}

.logo {
margin-top: 20px;
}

.suchfeld {
	float: right;
	margin-right: 30px;
	margin-top: 20px;
}

#headernew {
	background: #111111;
	width: 100%;
	color: #FFF;
	text-align: left;
}

.suche {
background: #FBFBFB url(coderblueevolution/lupe.png) left center no-repeat; 
padding: 5px;  
border: #ccc 1px solid; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
-khtml-border-radius: 5px; border-radius: 5px;
opacity: 0.5;
}

.suche:hover {
background: #FBFBFB url(coderblueevolution/lupe.png) left center no-repeat; 
padding: 5px;  
border: #ccc 1px solid; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
-khtml-border-radius: 5px; border-radius: 5px;
opacity: 1;
}

#gasthinweis {
	background: #111111;
	width: 100%;
	color: #FFF;
	text-align: left;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
}

#anmelden {
	background: #202020 url(mybbs_20b/ucp.png) left center no-repeat;
	color: #FFF;
	text-align: left;
	padding: 10px 0px 10px 70px;
	display: none;
	border-top: #000 1px solid;
	border-bottom: #000 1px solid;
	
	font-size: 14px;
}

#headertitle {
	width: 100%;
	min-height: 30px;
}

#titlelogo {
	background: transparent;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	height: 120px;
}

#headernavi {
	background: #111111;
	width: 100%;
	color: #fff;
	height: 35px;
}

#headernavi2 {
	background: #111111;
	width: 83%;
	color: #fff;
	height: 35px;
	margin: 0 auto;
}

.smalltextzwei {
	color: #696969;
	text-transform: uppercase;
	
	font-size: 12px;
}

.smalltextdrei {
	font-size: 12px;
}

.smalltextdrei a {
	font-size: 14px;
	font-weight: bold;
}

#quickreplyeins {
	cursor: pointer;
}

#quickreplyzwei,.hiddenrow {
display:none
}

#footerneu {
	background: #111111;
	width: 80%;
	color: #FFF;
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 15px;
}

#container {
	background: #f5f5f5;
	width: 80%;
	color: #696969;
	border: #ccc 1px solid;
	margin: auto auto;
	padding: 20px;
	text-align: left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-top: 15px;
	letter-spacing: 0.1em;
}

#content {
	width: auto !important;
}

#panel {
background:transparent;width:100%;color:#ddd;border:0px solid #D4D4D4;padding:8px;margin:0;padding:0;font-size:12px
}

#panel .remember_me input {
vertical-align:middle;margin-top:-1px
}

#panel a:link,#panel a:visited,.tcat a:link,.tcat a:visited,.tcat a:hover,.tcat a:active {
color:#ddd
}

table {
	color: #F8F8FF;
	font: 13px Arial,tahoma,Verdana,Sans-Serif;
}

.tborder {
	width: 100%;
	margin: auto auto;
	border: #ccc 0px solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.thead {
	background: #000 ;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
	height: 25px;
	
	font-family: arial;
}

.thead a:link,.thead a:visited,.tfoot a:link,.tfoot a:visited {
color:#fff;text-decoration:none
}

.thead a:hover,.thead a:active,.tfoot a:hover,.tfoot a:active {
color:#fff;text-decoration:underline
}

.tcat {
	background: #EFEFEF;
	color: #696969;
	font-size: 12px;
}

.tcat a:link,.tcat a:visited,.tcat a:hover,.tcat a:active {
color: #696969;
}

.trow1 {
	background: #f5f5f5;
	color: #696969;
}

.trow2 {
	background: #f5f5f5;
	color: #696969;
}

.trow4 {
	background: transparent;
	color: #000;
}

.trow_shaded {
	background: #A5161A;
}

.trow_selected td {
background:#FFFBD9
}

.trow_sep {
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	background: #000;
	color: #fff;
	border-radius: 0px 0px 5px 5px;
}

.bottommenu {
background:transparent;color:#ccc;border:0px solid #4874a3;padding:8px;font-size:14px
}

.bottommenu a {
color:#ddd;font-size:14px;font-weight:bold
}

.navigation {
	color: #696969;
	margin-top: -15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.navigation a:link,.navigation a:visited,.navigation a:hover,.navigation a:active,.popup_menu a.popup_item:hover {
	color: #696969;
	text-decoration: none;
}

.navigation .active {
	color: #696969;
	font-size: 14px;
}

.smalltext {
	font-size: 12px;
}

.largetext {
font-size:16px;font-weight:bold
}

input.textbox {
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	padding: 1px;
}

textarea {
	background: #fff;
	color: #000;
	border: 1px solid #000;
	padding: 2px;
	font: 13px/1.4 Arial,tahoma,Verdana,Sans-Serif;
	min-width: 600px;
	max-width: 800px;
}

select {
background:#fff;border:1px solid #ccc
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
background:#fff;border:1px solid #0f5c8e
}

.autocomplete {
background:#fff;border:1px solid #000;color:#000
}

.autocomplete_selected {
background:#adcee7;color:#000
}

.popup_menu {
background:#ccc;border:1px solid #000
}

.popup_menu .popup_item {
background:#fff;color:#000
}

.popup_menu .popup_item:hover {
background:#C7DBEE;color:#000
}

.trow_reputation_positive {
background:#cfc
}

.trow_reputation_negative {
background:#fcc
}

.reputation_positive {
color:#008000
}

.reputation_neutral {
color:#444
}

.reputation_negative {
color:#F00
}

.invalid_field {
border:1px solid #f30;color:#f30
}

.valid_field {
border:1px solid #0c0
}

.validation_error {
background:url(mybbs_20b/invalid.gif) no-repeat center left;color:#f30;margin:5px 0;padding:5px;font-weight:bold;font-size:11px;padding-left:22px
}

.validation_success {
background:url(mybbs_20b/valid.gif) no-repeat center left;color:#00b200;margin:5px 0;padding:5px;font-weight:bold;font-size:11px;padding-left:22px
}

.validation_loading {
background:url(mybbs_20b/spinner.gif) no-repeat center left;color:#555;margin:5px 0;padding:5px;font-weight:bold;font-size:11px;padding-left:22px
}

img {
border:none
}

.clear {
clear:both
}

.hidden {
display:none;float:none;width:1%
}

.selectall {
background:#FFFBD9;font-weight:bold;text-align:center
}

.float_left {
float:left
}

.float_right {
float:right
}

.float_rightzwei {
float:right;margin-right:25px
}

.menu ul {
list-style:none;margin:0
}

.menu li {
display:inline;padding-left:5px
}

.menu img {
padding-right:5px;vertical-align:top
}

#panel .links {
margin:0;float:right
}

.expcolimage {
float:right;width:auto;vertical-align:middle;margin-top:3px
}

img.attachment {
border:1px solid #E9E5D7;padding:2px
}

hr {
background:#000;color:#000;height:1px;border:0px
}

#copyright {
	background: transparent;
	margin: 0;
	padding: 10px 0 0 0;
	min-height: 30px;
}

#copyright a {
color:#000;font-weight:bold
}

#debug {
margin-top:0;font-size:11px
}

blockquote {
	background: #F5F5F5;
	color: #000;
	border: 1px solid #ccc;
	margin: 0;
	padding: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

blockquote cite {
font-weight:bold;border-bottom:1px solid #ccc;font-style:normal;display:block;margin:4px 0
}

blockquote cite span {
float:right;font-weight:normal
}

blockquote cite span.highlight {
float:none;font-weight:bold;padding-bottom:0
}

.codeblock {
	background: #F5F5F5;
	color: #000;
	border: 1px solid #ccc;
	padding: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.codeblock .title {
border-bottom:1px solid #ccc;font-weight:bold;margin:4px 0
}

.codeblock code {
overflow:auto;height:auto;max-height:200px;display:block;font:13px Monaco,Consolas,Courier,monospace
}

.subforumicon {
border:0;vertical-align:middle
}

.separator {
margin:5px;padding:0;height:0px;font-size:1px;list-style:none
}

form,.thread_legend,.thread_legend dd,.forum_legend,.forum_legend dt,.forum_legend dd {
margin:0;padding:0
}

.popup_menu .popup_item_container {
margin:1px;text-align:left
}

.popup_menu .popup_item {
display:block;padding:3px;text-decoration:none;white-space:nowrap
}

.autocomplete {
text-align:left
}

.subject_new,.pagination .pages {
font-weight:bold
}

.highlight {
background:#FFC;padding-top:3px;padding-bottom:3px
}

.pm_alert {
background:#FFF6BF;border:1px solid #FFD324;text-align:center;padding:5px 20px;margin-bottom:15px;font-size:11px
}

.red_alert {
	background: #A5161A;
	color: #fff;
	border: 1px solid #A5161A;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	
	font-size: 11px;
}

.high_warning {
color:#C00
}

.moderate_warning {
color:#F3611B
}

.low_warning {
color:#AE5700
}

div.error {
padding:5px 10px;border-top:2px solid #FFD324;border-bottom:2px solid #FFD324;background:#FFF6BF;font-size:12px
}

div.error p {
margin:0;color:#000;font-weight:normal
}

div.error p em {
font-style:normal;font-weight:bold;padding-left:24px;display:block;color:#C00;background:url(mybbs_20b/error.gif) no-repeat 0
}

div.error ul {
margin-left:24px
}

.online {
color:#15A018
}

.offline {
color:#C7C7C7
}

.pagination {
font-size:11px;padding-top:10px;margin-bottom:5px
}

.tfoot .pagination,.tcat .pagination {
padding-top:0
}

.pagination .pagination_current,.pagination a {
padding:2px 6px;margin-bottom:3px
}

.pagination a {
border:1px solid #81A2C4
}

.pagination .pagination_current {
background:#F5F5F5;border:1px solid #81A2C4;font-weight:bold;color:#000
}

.pagination a:hover {
background:#F5F5F5;text-decoration:none
}

.thread_legend dd {
padding-bottom:4px;margin-right:15px
}

.thread_legend img {
margin-right:4px;vertical-align:bottom
}

.forum_legend dd,.forum_legend dt {
float:left;margin-right:10px
}

.success_message {
color:#00b200;font-weight:bold;font-size:10px;margin-bottom:10px
}

.error_message {
color:#C00;font-weight:bold;font-size:10px;margin-bottom:10px
}

.post_body {
padding:5px
}

.post_content {
padding:5px 10px
}

.quick_jump {
background:url(mybbs_20b/jump.gif) no-repeat 0;width:13px;height:13px;padding-left:13px;vertical-align:middle;border:none
}

.repbox {
font-size:16px;font-weight:bold;padding:5px 7px 5px 7px
}

._neutral {
background:#FAFAFA;color:#999;border:1px solid #CCCCCC
}

._minus {
background:#FDD2D1;color:#CB0200;border:1px solid #980201
}

._plus {
background:#E8FCDC;color:#080;border:1px solid #008800
}

.pagination_breadcrumb {
background:#f5f5f5;border:1px solid #fff;outline:1px solid #ccc;padding:5px;margin-top:5px;font-weight:normal;white-space:nowrap
}

.pagination_breadcrumb_link {
vertical-align:middle;cursor:pointer
}